<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <style>
            body {
                background-color: rgb(30, 30, 30);
            }

            p, h1, h2, h3, h4, h5, h6, a, table, tr, td, th, li {
                font-family: 'Roboto', sans-serif;
                color: white;
            }

            header h1 {
                color: dodgerblue;
            }

            .danger-zone {
                margin-top: 10rem;
                color: red;
            }
        </style>
        {{!-- <link rel="stylesheet" href="/css/main.css"> --}}
    </head>

    <body>
        <header>
            <h1>Chameleon Web Dashboard</h1>
        </header>
        {{{body}}}
    </body>
</html>